:root {
  --blue: #3b3ba0;
  --hover-blue: #32328a;
  --red: #d14646;
  --hover-red: #c13f3f;
  --white: #fff;
  --gray: #eee;
  --black: #000;
  --h1-fontsize: 32px;
  --h3-fontsize: 28px;
  --text-large: 22px;
  --text-small: 18px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans JP", "Roboto";
}

.header {
  width: 100vw;
  height: 80px;
  padding: 0 20px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background-color: var(--blue);
}
.header .left .title {
  margin: 0;
  font-size: var(--h1-fontsize);
  font-weight: normal;
}
.header .right {
  display: flex;
  align-items: center;
}
.header .right .list-box {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 80px;
  margin-right: 30px;
}
.header .right .list-box .list {
  height: 100%;
}
.header .right .list-box .list .link {
  height: 100%;
  text-decoration: none;
}
.header .right .list-box .list .link .btn {
  height: 100%;
  padding-inline: 10px;
  display: flex;
  font-size: var(--text-small);
  align-items: center;
  border: none;
  color: var(--white);
  background-color: var(--blue);
}
.header .right .list-box .list .link .btn:hover {
  background-color: var(--hover-blue);
  cursor: pointer;
}
.header .right .request-info-link .btn {
  width: 250px;
  height: 50px;
  border-radius: 16px;
  font-size: var(--text-small);
  border: none;
  background-color: var(--red);
  color: var(--white);
}
.header .right .request-info-link .btn:hover {
  background-color: var(--hover-red);
  cursor: pointer;
}

.top-view {
  height: 700px;
  position: relative;
}
.top-view .img-box {
  position: absolute;
  background-color: var(--white);
  opacity: 0.3;
  z-index: 1;
}
.top-view .img-box,
.top-view .bg-img {
  position: absolute;
  width: 1200px;
  height: 650px;
  right: 0;
}
.top-view .top {
  position: absolute;
  top: 58%;
  left: 8%;
  z-index: 2;
}
.top-view .second {
  position: absolute;
  z-index: 2;
  top: 70%;
  left: 8%;
}
.top-view .third {
  position: absolute;
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  z-index: 2;
  border: 1px solid var(--black);
  border-radius: 24px;
  padding: 5px 30px;
  background-color: var(--white);
  left: 8%;
  top: 100px;
}
.top-view .third span {
  position: static;
  color: var(--red);
}
.top-view .tel {
  position: absolute;
  font-size: var(--text-large);
  margin: 0;
  right: 2%;
  bottom: 10%;
}

.question {
  margin-top: 100px;
  padding-inline: 80px;
}
.question .line {
  width: 200px;
  height: 1000px;
  position: absolute;
  right: 35%;
  top: 65%;
  rotate: 40deg;
  z-index: -1;
  background-color: var(--gray);
}
.question .title-box {
  text-align: center;
}
.question .title-box .title {
  display: inline-block;
  font-size: var(--h3-fontsize);
  padding: 0 10px 5px;
  margin: 0;
  border-bottom: 1px solid var(--black);
}
.question .under {
  padding: 20px 100px;
  border-left: 3px solid var(--black);
  width: 800px;
}
.question .under .box {
  display: flex;
  align-items: flex-end;
  margin-block: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--black);
}
.question .under .box .img {
  width: 50px;
  height: 50px;
}
.question .under .box .text {
  margin: 0;
  font-size: var(--text-large);
}

.faq-solution {
  margin-top: 50px;
  padding: 50px 150px;
  background-color: var(--gray);
}
.faq-solution .top {
  text-align: center;
}
.faq-solution .top .box {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 16px;
  font-size: var(--h3-fontsize);
  font-weight: 500;
  margin: 0 0 10px;
  color: var(--white);
  background-color: var(--red);
}
.faq-solution .top .top-second {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.faq-solution .top .top-second .left-bar {
  width: 250px;
  height: 3px;
  rotate: -15deg;
  background-color: var(--black);
}
.faq-solution .top .top-second .right-bar {
  width: 250px;
  height: 3px;
  rotate: 15deg;
  background-color: var(--black);
}
.faq-solution .top .top-second .text {
  font-size: var(--h3-fontsize);
  margin: 0;
}
.faq-solution .under {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.faq-solution .under .bgc {
  width: 560px;
  padding: 30px 20px 70px;
  background-color: var(--white);
}
.faq-solution .under .title {
  margin-block: 24px;
  font-size: var(--h3-fontsize);
  margin: 0;
  font-weight: normal;
}
.faq-solution .under .arrow {
  font-size: 40px;
}
.faq-solution .under .box {
  display: flex;
  justify-content: space-between;
}
.faq-solution .under .box .request-info-link .btn {
  width: 250px;
  height: 50px;
  border-radius: 16px;
  font-size: var(--text-small);
  border: none;
  background-color: var(--red);
  color: var(--white);
}
.faq-solution .under .box .request-info-link .btn:hover {
  background-color: var(--hover-red);
  cursor: pointer;
}
.faq-solution .under .text {
  margin: 16px 0 0;
  font-size: var(--text-small);
}
.faq-solution .under .text:first-of-type {
  margin-top: 40px;
}

.best {
  display: block;
  margin-top: 50px;
  padding: 0 100px;
}
.best .title-box {
  text-align: center;
}
.best .title-box .title {
  display: inline-block;
  margin: 0;
  font-size: var(--h3-fontsize);
  padding: 0 10px 5px;
  border-bottom: 1px solid var(--black);
}
.best .under {
  display: flex;
  margin-top: 50px;
}
.best .under .img-box {
  width: 50%;
}
.best .under .img-box img {
  width: 400px;
  height: 300px;
}
.best .under .text-box {
  width: 50%;
  margin-top: 30px;
}
.best .under .text-box .text {
  margin: 0;
  margin-top: 15px;
  font-size: var(--text-large);
}
.best .under .text-box .text:first-child {
  margin-top: 0;
}

.review {
  margin-top: 100px;
  padding: 0 80px;
}
.review .title-box {
  text-align: center;
}
.review .title-box .title {
  display: inline-block;
  margin: 0;
  font-size: var(--h3-fontsize);
  padding: 0 10px 5px;
  border-bottom: 1px solid var(--black);
}
.review .under {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 110px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin: 150px 0 0;
  padding: 0;
}
.review .under .box {
  height: 450px;
  list-style: none;
  padding: 10px 20px;
  border: 1px solid var(--black);
}
.review .under .box .img-box {
  text-align: center;
  margin-top: -100px;
}
.review .under .box .img-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid var(--blue);
}
.review .under .box .name {
  text-align: center;
  font-size: var(--text-large);
  font-weight: bold;
  margin: 10px 0;
}
.review .under .box .text {
  font-size: var(--text-small);
}

.contact {
  margin-top: 50px;
  padding: 50px 80px 50px;
  background-color: var(--gray);
}
.contact .title-box {
  text-align: center;
}
.contact .title-box .title {
  display: inline-block;
  font-size: var(--h3-fontsize);
  padding: 0 10px 5px;
  margin: 0;
  border-bottom: 1px solid var(--black);
}
.contact .email,
.contact .tel {
  display: flex;
  align-items: flex-end;
  width: 600px;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--black);
}
.contact .email .left,
.contact .tel .left {
  width: 300px;
  font-size: var(--text-large);
}
.contact .email .right,
.contact .tel .right {
  font-size: var(--text-small);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --h1-fontsize: 30px;
    --h3-fontsize: 24px;
    --text-large: 20px;
    --text-small: 16px;
  }
  .header {
    height: 120px;
    padding: 0 10px 0 30px;
    display: block;
    color: var(--white);
    background-color: var(--blue);
  }
  .header .right {
    height: 50px;
    float: right;
  }
  .header .right .list-box {
    height: 30px;
    margin-right: 10px;
  }
  .header .right .list-box .list {
    height: 30px;
  }
  .header .right .list-box .list .link {
    height: 30px;
  }
  .header .right .list-box .list .link .btn {
    height: 40px;
    padding-inline: 5px;
  }
  .header .right .request-info-link .btn {
    width: 200px;
  }
  .top-view {
    height: 550px;
    position: relative;
  }
  .top-view .img-box,
.top-view .bg-img {
    width: 100vw;
    height: 550px;
  }
  .top-view .top {
    width: 80%;
  }
  .top-view .second {
    width: 50%;
  }
  .top-view .third {
    font-size: 40px;
    padding: 5px 20px;
    top: 80px;
  }
  .top-view .tel {
    bottom: 5%;
  }
  .question {
    margin-top: 50px;
    padding-inline: 40px;
  }
  .question .line {
    width: 150px;
    height: 800px;
    right: 25%;
    top: 65%;
    rotate: 20deg;
    z-index: -1;
    background-color: var(--gray);
  }
  .question .under {
    padding: 20px 50px;
    width: 600px;
  }
  .question .under .box {
    margin-block: 10px;
  }
  .faq-solution {
    margin-top: 25px;
    padding: 25px 80px;
  }
  .faq-solution .top .box {
    padding: 15px 20px;
    margin: 0 0 10px;
  }
  .faq-solution .top .top-second {
    margin-top: 15px;
  }
  .faq-solution .top .top-second .left-bar {
    width: 150px;
    height: 2px;
  }
  .faq-solution .top .top-second .right-bar {
    width: 150px;
    height: 2px;
  }
  .faq-solution .under {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .faq-solution .under .bgc {
    width: 560px;
    padding: 30px 20px 70px;
    background-color: var(--white);
  }
  .faq-solution .under .title {
    margin-block: 24px;
    font-size: var(--h3-fontsize);
    margin: 0;
    font-weight: normal;
  }
  .faq-solution .under .arrow {
    font-size: 40px;
  }
  .faq-solution .under .box {
    display: flex;
    justify-content: space-between;
  }
  .faq-solution .under .box .request-info-link .btn {
    width: 250px;
    height: 50px;
    border-radius: 16px;
    font-size: var(--text-small);
    border: none;
    background-color: var(--red);
    color: var(--white);
  }
  .faq-solution .under .box .request-info-link .btn:hover {
    background-color: var(--hover-red);
    cursor: pointer;
  }
  .faq-solution .under .text {
    margin: 16px 0 0;
    font-size: var(--text-small);
  }
  .faq-solution .under .text:first-of-type {
    margin-top: 40px;
  }
  .best {
    margin-top: 25px;
    padding: 0 40px;
  }
  .best .under {
    margin-top: 50px;
  }
  .best .under .img-box {
    width: 50%;
  }
  .best .under .img-box img {
    width: 250px;
    height: 200px;
  }
  .best .under .text-box {
    width: 50%;
    margin-top: 30px;
  }
  .best .under .text-box .text {
    margin: 0;
    margin-top: 15px;
    font-size: var(--text-large);
  }
  .best .under .text-box .text:first-child {
    margin-top: 0;
  }
  .review {
    margin-top: 50px;
    padding: 0 40px;
  }
  .review .under {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 110px;
    -moz-column-gap: 50px;
         column-gap: 50px;
    margin: 150px 0 0;
    padding: 0;
  }
  .review .under .box {
    height: 450px;
    list-style: none;
    padding: 10px 20px;
    border: 1px solid var(--black);
  }
  .review .under .box .img-box {
    text-align: center;
    margin-top: -100px;
  }
  .review .under .box .img-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 2px solid var(--blue);
  }
  .review .under .box .name {
    text-align: center;
    font-size: var(--text-large);
    font-weight: bold;
    margin: 10px 0;
  }
  .review .under .box .text {
    font-size: var(--text-small);
  }
  .contact {
    margin-top: 50px;
    padding: 50px 80px 50px;
    background-color: var(--gray);
  }
  .contact .title-box {
    text-align: center;
  }
  .contact .title-box .title {
    display: inline-block;
    font-size: var(--h3-fontsize);
    padding: 0 10px 5px;
    margin: 0;
    border-bottom: 1px solid var(--black);
  }
  .contact .email,
.contact .tel {
    display: flex;
    align-items: flex-end;
    width: 600px;
    margin-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--black);
  }
  .contact .email .left,
.contact .tel .left {
    width: 300px;
    font-size: var(--text-large);
  }
  .contact .email .right,
.contact .tel .right {
    font-size: var(--text-small);
  }
}
@media screen and (max-width: 767px) {
  :root {
    --h1-fontsize: 28px;
    --h3-fontsize: 18px;
    --text-large: 14px;
    --text-small: 12px;
  }
  .header {
    height: 130px;
    padding: 0 20px 5px 10px;
    display: block;
  }
  .header .right {
    float: right;
    display: block;
  }
  .header .right .list-box {
    margin-top: 10px;
    height: 20px;
    margin-right: 5px;
  }
  .header .right .list-box .list .link {
    height: 30px;
  }
  .header .right .list-box .list .link .btn {
    padding-inline: 10px;
    font-size: 8px;
  }
  .header .right .request-info-link {
    margin-top: 10px;
    width: 90vw;
    float: right;
  }
  .header .right .request-info-link .btn {
    width: 100%;
    height: 40px;
  }
  .top-view {
    height: 300px;
    position: relative;
  }
  .top-view .img-box,
.top-view .bg-img {
    width: 100vw;
    height: 300px;
  }
  .top-view .top {
    width: 70%;
    top: 55%;
  }
  .top-view .second {
    width: 40%;
    top: 65%;
  }
  .top-view .third {
    font-size: 24px;
    padding: 3px 10px;
    top: 40px;
  }
  .top-view .tel {
    bottom: 5%;
  }
  .question {
    margin-top: 50px;
    padding-inline: 20px;
  }
  .question .line {
    width: 100px;
    height: 500px;
    right: 25%;
    top: 50%;
    rotate: 20deg;
    z-index: -1;
    background-color: var(--gray);
  }
  .question .under {
    padding: 20px 0 20px 30px;
    width: 90vw;
  }
  .question .under .box {
    margin-block: 10px;
  }
  .faq-solution {
    margin-top: 25px;
    padding: 20px 20px;
  }
  .faq-solution .top .box {
    padding: 15px 20px;
    margin: 0 0 10px;
  }
  .faq-solution .top .top-second {
    margin-top: 15px;
  }
  .faq-solution .top .top-second .left-bar {
    width: 80px;
    height: 1px;
  }
  .faq-solution .top .top-second .right-bar {
    width: 80px;
    height: 1px;
  }
  .faq-solution .under {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .faq-solution .under .bgc {
    width: 560px;
    padding: 30px 20px 50px;
    background-color: var(--white);
  }
  .faq-solution .under .title {
    margin-block: 24px;
    font-size: var(--h3-fontsize);
    margin: 0;
    font-weight: normal;
  }
  .faq-solution .under .arrow {
    font-size: 40px;
  }
  .faq-solution .under .box {
    display: flex;
    justify-content: space-between;
  }
  .faq-solution .under .box .request-info-link {
    width: 160px;
  }
  .faq-solution .under .box .request-info-link .btn {
    width: 160px;
    height: 50px;
    font-size: var(--text-small);
    border: none;
    background-color: var(--red);
    color: var(--white);
  }
  .faq-solution .under .box .request-info-link .btn:hover {
    background-color: var(--hover-red);
    cursor: pointer;
  }
  .faq-solution .under .text {
    margin: 16px 0 0;
    font-size: var(--text-small);
  }
  .faq-solution .under .text:first-of-type {
    margin-top: 40px;
  }
  .best {
    margin-top: 25px;
    padding: 0 40px;
  }
  .best .under {
    margin-top: 30px;
  }
  .best .under .img-box {
    width: 50%;
  }
  .best .under .img-box img {
    width: 150px;
    height: 125px;
  }
  .best .under .text-box {
    width: 50%;
    margin-top: 15px;
  }
  .best .under .text-box .text {
    margin: 0;
    margin-top: 10px;
    font-size: var(--text-large);
  }
  .best .under .text-box .text:first-child {
    margin-top: 0;
  }
  .review {
    margin-top: 50px;
    padding: 0 40px;
  }
  .review .under {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 110px;
    -moz-column-gap: 50px;
         column-gap: 50px;
    margin: 120px 0 0;
    padding: 0;
  }
  .review .under .box {
    height: 320px;
    list-style: none;
    padding: 10px 20px;
    border: 1px solid var(--black);
  }
  .review .under .box .img-box {
    text-align: center;
    margin-top: -100px;
  }
  .review .under .box .img-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 2px solid var(--blue);
  }
  .review .under .box .name {
    text-align: center;
    font-size: var(--text-large);
    font-weight: bold;
    margin: 10px 0;
  }
  .review .under .box .text {
    font-size: var(--text-small);
  }
  .contact {
    margin-top: 50px;
    padding: 50px 80px 50px;
    background-color: var(--gray);
  }
  .contact .title-box {
    text-align: center;
  }
  .contact .title-box .title {
    display: inline-block;
    font-size: var(--h3-fontsize);
    padding: 0 10px 5px;
    margin: 0;
    border-bottom: 1px solid var(--black);
  }
  .contact .email,
.contact .tel {
    display: flex;
    align-items: flex-end;
    width: 74vw;
    margin-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--black);
  }
  .contact .email .left,
.contact .tel .left {
    width: 38vw;
    font-size: var(--text-large);
  }
  .contact .email .right,
.contact .tel .right {
    font-size: var(--text-small);
  }
}
/*# sourceMappingURL=style.css.map */